
.container{
  height: 100vh;
}
.container_post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    margin: 50px 0;
    font-size:3rem;
    font-family: 'ToonyLineFill';
    letter-spacing: 5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red
  }

}
.container--inputs{
    display: flex;
    flex-direction: column;

    label{
      margin-bottom: 10px;
    }

    input:focus, textarea:focus{
      box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.582);
    }
}
.alert{

  padding: 20px 60px;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;

}
.success{
  background-color: rgb(113, 255, 113);
  box-shadow: 3px 3px 3px rgb(16, 104, 16);
}
.failed{
  background-color: rgb(240, 66, 43);
  box-shadow: 3px 3px 3px rgb(104, 16, 16);
  color: white;
}
.form-control{
  min-width: 500px;
  max-width: 700px;
  margin-bottom: 20px;
  padding: 15px 5px;
  outline: 0;
  border: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.582);

  font-size: 18px;
  letter-spacing: 3px;
  resize: vertical;


}

@media(max-width:425px){
  .form-control{
    min-width: 100%;
  }
}
