<section class="container">
    <div class="container_post">
      <h1>Crie sua postagem</h1>
      <form>
        <div class="container-form">
            <div class="container--inputs">
              <label for="">Título *</label>
              <input type="text" name="title" id="" placeholder="Título do desenho" class="form-control" [(ngModel)]="post.title">
            </div>
            <div class="container--inputs">
              <label for="">Link *</label>
              <input type="text" name="image" id="" placeholder="Link da imagem" class="form-control" [(ngModel)]="post.image">
            </div>
            <div class="container--inputs">
              <label for="">Descrição *</label>
                <textarea name="description" id=""  rows="5" class="form-control" placeholder="Descrição do desenho" [(ngModel)]="post.description"></textarea>
            </div>
        </div>
        <button mat-flat-button color="primary" class="btn-blog" (click)="create()">

          Publicar Desenho Animado

        </button>
        <a mat-stroked-button color="primary" class="btn-blog" style="margin-left: 10px; text-decoration: none;" [routerLink]="['/']" >
          Voltar
        </a>
      </form>
    </div>
</section>

