<div class="container">
  <section class="main-post">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <img mat-card-md-image src="{{post.image}}"  alt="Image of a Shiba Inu">
          <mat-card-title class="title">{{post.title}}</mat-card-title>
          <mat-card-subtitle>"Anônimo"</mat-card-subtitle>
          <mat-card-subtitle>{{post.date | date:'d/M/Y'}}</mat-card-subtitle>

        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="content">
        {{post.description}}
      </mat-card-content>
    </mat-card>

  </section>

  <div class="btn-back">
      <a [routerLink]="['/']" >
        <mat-icon>reply</mat-icon>
        Voltar</a>
  </div>

</div>
