.container{
    text-align: center;
}
.blog-card_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1280px;
  margin: auto;
}
aside {

  h1{
    font-family: 'ToonyLine';
    letter-spacing: 5px;
    font-size: 3rem;
    margin-top: 30px;
  }


  .btn-blog{
    text-decoration: none;
    margin: 40px 0;
  }
}
