<section class="container">
    <main>
        <app-main-section></app-main-section>
    </main>
    <aside>
        <h1 class="title-blog">Blog</h1>
        <a mat-flat-button color="primary" class="btn-blog" [routerLink]="['/post/create']" >
          <mat-icon>add</mat-icon>
          Publicar Desenho Animado

        </a>
        <div class="blog-card_container">

            <app-blog-card id="{{post.id}}" image="{{post.image}}" authorName="Anônimo" title="{{post.title}}" date="{{post.date | date:'d/M/Y'}}" *ngFor="let post of posts"></app-blog-card>

        </div>
    </aside>
</section>
